{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <th scope="row">{{ todo.id }}</th>
                <td>{{ todo.name }}</td>
                <td>{{ todo.dueDate|date('F j, Y, g:i a') }}</td>
                <td>
                    <a href="/todo/details/{{ todo.id }}" class="btn btn-primary"   >                        
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </a>
                    <a href="/todo/edit/{{ todo.id }}" class="btn btn-warning">                        
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                    <a href="/todo/delete/{{ todo.id }}" class="btn btn-danger">                        
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>    
            {% endfor %}       
        </tbody>
    </table>
{% endblock %}